<!DOCTYPE html>
<html ng-app='likebutton'>
<head>
  <title>Hello, World</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div class="container" ng-controller="MyButtonController">
    
    <h3>Angular Like Button</h3>
    <button ng-click="Counter()">{{ count }} {{ msg }}</button>

   <!--  <button ng-click="ReverseCounter()">{{ revCount }}{{ msg2 }} </button> -->
  </div>
  
  <script src="js/main.js"></script>
</body>
</html>
